.UI_box {
	border: 6px outset #fff;
	padding: 4px;
}
.UI_fuel_guage {
	height: 100%;
	width: 100%;
	background: linear-gradient(to bottom, #f6e6b4 0%,#ed9017 50%,#ff1919 99%);
	margin-top: auto;
}
.UI_guage_overlay {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
}
.UI_guage_container {
	height: 96px;
	width: 12px;
	display: flex;
	background-color: #000a;
	margin-left: 4px;
}

.UI_cool_down_guage {
	height: 100%;
	width: 100%;
	background: linear-gradient(to bottom, #189aee 0%,#171aed 50%,#8019ff 99%);
	margin-top: auto;
}

.UI_player {
	color: #fff;
	width: 100%;
}
.UI_sidebar th {
	text-align: left;
}
.UI_player td {
	text-align: right;
}

.UI_loader_container {
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
}
.UI_loader_container div{
	margin-right: 16px;
}
.UI_loader_container__loaderContainer {
	width: 200px;
	height: 20px;
}
.UI_loader_container div {
	margin-right: 16px;
}
.UI_loader_container__loader {
	height: 100%;
	width: 0;
	background: linear-gradient(to bottom, #d2ff52 0%,#91e842 50%,#91e842 94%);
	transition: .1s;
}
.UI_inactive {
	color: #777;
}
.UI_sidebar > * {
    margin-bottom: 4px;
}
.UI_sidebar > button {
    display: block;
}
.UI_sidebar {
	margin-left: 8px;
	margin-top: 8px;
	color: #fff;
}
.UI_sidebar-title {
	border-bottom: 2px solid #fff;
	font-size: 14px;
	padding-bottom: 4px;
	margin-bottom: 4px;
}
.UI_sidebar_fireRate-view {
	display: flex;
	flex: space-between;
	justify-content: space-around;
}
.UI_sidebar_fireRate-view input[type=range]::-moz-range-track {
		background: linear-gradient(to right, #ff0f0f 0%,#ffed4c 100%);
}
.UI_player-ship-view {
	flex: 120px;
	position: relative;
}
.UI_player-ship-debug_rotation {
	height: 0;
	width: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #fff;
	position: absolute;
	top: 10px;
	right: -10px;
}

.UI_map {
	margin-top: 48px;
	margin-right: 4px;
	margin-bottom: 4px;
	background: radial-gradient(#f0a0ff55,black);
}

.UI_left_table {
	order: 1;
	font-size: 10px;
	margin-right: 4px;
}
.UI_map_controls {
	display: flex;
	justify-content: space-between;
}